.carouselSize {
    width: 70%;
    height: 600px;
    object-fit: cover;
}

.slideSize {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.slideWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.informations {
    position: absolute;
    width: 100%;
    bottom: 20px;
    /* left: 20px; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.carouselTitle {
    /* z-index: 999; */
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.eventLink {
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.carouselButton {
    /* padding: 10px 20px; */
    font-size: 16px;
    font-weight: 600;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgb(24, 93, 196);
    color: white;
    cursor: pointer;
}

.carouselButton:hover {
    transform: scale(1.1);
    background-color: rgb(16, 65, 139);
}

@media (max-width: 990px) {

    .carouselSize {
        width: 100%;
        height: 400px;
    }

    .carouselTitle {
        font-size: 30px;
    }

    .informations {
        flex-direction: column;
        margin-bottom: 20px;
    }
}

.carouselFallback {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* igual à altura do carrossel */
    background-color: #f9f9f9;
    color: #555;
    font-size: 1.2rem;
    text-align: center;
}